.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-top: 0;
    color: white;
    text-shadow: 2px 2px 2px #363636;
}

.ent{
    width: 400px;
    background-color: #ffffff;
    display: inline-table;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.btn{ 
    border-radius:20px;
    border: 2px solid rgb(87, 140, 253);
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(44, 99, 219);
    transition: 0.3s;
    margin-bottom:10px;
    margin-right: 8px;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background: rgb(87, 140, 253);
    border: 2px solid rgb(44, 99, 219);
}

.table{
    padding: 50px;
    background-color: #ffffff;;
    display: inline-table;
    width: 400px;
    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}