
.este{ 
    width: 94%;
    margin-left: 4%;
    }

.tarjeta{
    float: left;
    background: rgb(255, 255, 255);
    width: 20%;
    height: 140px;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 0px 0px 20px 8px rgba(34, 31, 68, 0.240);
}
.tarjeta:hover{
    float: left;
    background: rgb(255, 255, 255);
    width: 20%;
    height: 140px;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 2%;
    margin-right: 2%;
    outline: 2px solid rgb(44, 99, 219) ;
    box-shadow: 0px 0px 20px 8px rgba(44, 99, 219, 0.425);
}

.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: 'none';
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
}
.title:hover{
    color: black;
    
}
.img{
  height: 50px;
  width: 50px;
}

.h5{
    padding: 0;
    margin-top: 2px;
}
