.contenedor{
  margin: 0;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
.card{
  flex-wrap: wrap;
  width: 30%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius:10px;
  padding: 32px;
  margin: auto;
  margin-top: 3%;
  box-shadow: 0px 11px 41px 15px rgba(34, 31, 68, 0.219);

}
  
  .h3 {
    margin: 0;
    color: rgb(44, 99, 219);
  }
  .h5 {
    margin: 0;
  }
  
  img {
    width: 40%;
    min-width:120px;
    height:auto;
  }
  
  
  .text{
    margin-top: 3%;
    column-count: 2;
    column-width: 100px;
  }
  
  .padre{
   /* column-count: 2;
   /* column-width: 150px;*/
  }
  .hijo{
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    padding: 24px 8px 24px 8px;
    margin: auto;
    margin-top: 3%;
    width: 90%;
    height: auto;
    box-shadow: 0px 11px 41px 15px rgba(34, 31, 68, 0.219);

  }
  .actividad{
  
  }


    .box {
      flex-wrap: wrap;
      width: 32%;
      min-width: 200px;
      margin: auto;
      margin-top: 3%;
      }
    .button {
      text-transform: uppercase;
      width: 100%;
      border-radius:20px;
      border: 2px solid rgb(87, 140, 253);
      padding: 8px 16px 8px 16px;
      cursor: pointer;
      color: #ffffff;
      background-color: rgb(44, 99, 219);
    }
    
    .button:hover {
      color: rgb(255, 255, 255);
      background: rgb(87, 140, 253);
      border: 2px solid rgb(44, 99, 219);
    }